if street.oneSchool
  li 
    | Hele 
    strong #{street.streetName}
    | går på 
    .schoolName #{street.school} skole
else
    unless digit
      li.missingDigit
        | For 
        strong #{street.streetName}
        |  må du skrive gatenummeret også
    else
      unless street.school 
        li.notAnAddress
          | I 
          strong #{street.streetName} #{digit}
          |  ser det ikke ut som det bor noen
      else
        li
          | I 
          strong #{street.streetName} #{digit}
          |  går de på 
          .schoolName #{street.school} skole