if street.oneSchool
  li 
    | Hele 
    strong #{street.streetName}
    | går på 
    a.schoolName(role="link", tabindex="0") #{street.school} skole
else
    unless digit
      li.missingDigit
        | For 
        a.streetName(role="link", tabindex="0") #{street.streetName}
        |  må du skrive gatenummeret også
    else
      unless street.school 
        li.notAnAddress
          | I 
          strong #{street.streetName} #{digit}
          |  ser det ikke ut som det bor noen
      else
        li
          | I 
          strong #{street.streetName} #{digit}
          |  går de på 
          a.schoolName(tabindex="0") #{street.school} skole