if street.entireStreet == true
  li 
   .heading
      span.arrow 
        ➳ 
      | Hele 
      strong #{street.street}
      | går på 
      strong #{street.school} skole
else
  li 
    .heading 
      span.arrow 
        ➳ 
      | I 
      strong #{street.street}
      |  kommer det an på gatenummeret ditt
    .streetSide.odd 
      .sideHeading Den ene siden av gata
      ul
        each stretch in odd
          li
            .streetNumbering
              .number= stretch.oddStart
              |  - 
              .number= stretch.oddEnd
            .schoolName
              = stretch.school
    .streetSide.even
      .sideHeading Den andre
      ul
        each stretch in even
          li
            .streetNumbering
              .number= stretch.evenStart
              |  - 
              .number= stretch.evenEnd
            .schoolName
              = stretch.school
  .clear